node_modules
.idea
*.log
/lib/node_modules/
/lib/dist/
/dist/
/lib/index.html
/lib/compiled-html.js
/public/
/lib/builded-html.js
/lib/developed-html.js
/dist.bak/
/coverage/
/koa2.js
/webpack.config.js
/lib/server-build2.js
/lib/webpack.config.js
